.gp-content{
    padding-top: 10%;
}

.gp-content-subtitle,
.gp-content-title {
    margin-left: 30%;
}


@media screen and (max-width: 768px) and (max-height: 1024px) {
.gp-content {
    padding-top: 50%;
}
}

@media screen and (max-width: 480px) and (max-height: 768px) {

}